%section
  .well
    %h1
      U Can Help
      %small
        Here is how?
    %p
      Every care taking home will have their own needs. In this place, they have shared their needs. You just have to comment on their need and convey your mode of help to them. Also, you can add a new care taking home, if you know anyone of them, with some basic details about it. We also have admin verified orphanages, where the reliability is more.
= render :partial => 'needs/list', :locals => {:needs => @needs}
