%section
  .well
    %h1
      U Can Help
      %small
        Here is how?'
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consectetur lacinia lorem, et auctor nibh semper et. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer varius arcu elit, in commodo leo. Praesent eu ligula vitae lorem tempor consectetur in quis quam. Nunc massa ligula, vulputate in vehicula vel, volutpat sit amet purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse adipiscing suscipit risus eget mollis. Sed id ipsum et urna blandit faucibus dictum ut tortor. Suspendisse dapibus velit ac sem iaculis tempus ut condimentum felis. Sed eget tellus massa. Maecenas non sapien risus, id tempor justo. Mauris arcu ligula, porta eu ornare et, malesuada at erat.
= render :partial => 'needs/list', :locals => {:needs => @needs}
