Hi, 

%br
="As per your request, the secret password for your orphanage #{@orphanage.name} has been changed. Below is the new secret password which you should provide to do further actions on this orphanage."

%br
= "New Secret Password: #{@orphanage.secret_password}"

%br
%br
Thanks
%br
Ucanhelp Admin