Hi, 

%br
="As per your forgot secret password request, the secret passwords for all the orphanages you maintain have been sent to you."

- @orphanages.each do |orphanage|
  %table
    %thead
      %th Name
      %th Secret Password
    %tbody
      %td= orphanage.name
      %td= orphanage.secret_password

%br
%br
Thanks
%br
Ucanhelp Admin