Hi, 

%br
="Thank you for registering your orphanage #{@orphanage.name} in our website. Below is the secret password which you should provide to do further actions on this orphanage."

%br
= "Secret Password: #{@orphanage.secret_password}"

%br
%br
Thanks
%br
Ucanhelp Admin